<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/8696b96ae7.js" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@200;400;700&display=swap" rel="stylesheet"> 
    <link rel="stylesheet" href="/css/base.css">
    <link rel="stylesheet" href="/css/dash.css">
    <script src="/js/jquery-3.5.1.min.js"></script>
    <script defer src="/js/popup.js"></script>
    <link rel="apple-touch-icon" sizes="180x180" href="/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon/favicon-16x16.png">
    <link rel="manifest" href="/favicon/site.webmanifest">
</head>
<body>
    <div class="sidenav">
        <div class="sidenav-header">
            <h2>Sugarcane</h2>
            <p>{{appVersion}}</p>
        </div>
        <a href="/dashboard"><i class="fas fa-home"></i> Home</a>
        <a href="/dashboard/console"><i class="fas fa-terminal"></i> Console</a>
        <a href="/dashboard/config"><i class="fas fa-cog"></i> Config</a>
    </div>
    <div class="content">
        {{{body}}}
    </div>
</body>
</html>