<title>Sugarcane - Console</title>
<h1>Console</h1>
<div class="console-window" id="consoleOut"></div>
<input class="console-input" id="consoleIn" type="text" placeholder="> command">
<script src="/js/console.js"></script>