<title>Sugarcane - Home</title>
<h1>System Stats</h1>
<div class="system-status">
    <div class="system-status-card">
        <div class="status-card-icon"><i class="fas fa-memory"></i></div>
        <div class="status-card-data">
            <h2>Memory Usage</h2>
            <p id="sysMemUsage">Getting Data...</p>
        </div>
    </div>
    <div class="system-status-card">
        <div class="status-card-icon"><i class="fas fa-microchip"></i></div>
        <div class="status-card-data">
            <h2>CPU Usage</h2>
            <p id="sysCpuUsage">Getting Data...</p>
        </div>
    </div>
</div>
<br>
<h1>Server Stats</h1>
<div class="server-status">
    <h2 id="serverName">Getting Data...</h2>
    <h3 id="serverData">Getting Data...</h3>
    <form id="serverBtnAction" action="#" method="get">
        <input id="serverBtn" type="submit" class="text-area-submit" value="Getting Data...">
    </form>
</div>
<script src="/js/sysdata.js"></script>
<script src="/js/serverstat.js"></script>