<title>Sugarcane - Login</title>

<h1 class="box-title">Sugarcane Login</h1>
<form action="/login" method="post">
    <input class="box-input" type="text" name="username" placeholder="Username">
    <input class="box-input" type="password" name="password" placeholder="Password">
    <input class="box-button" type="submit" value="Login">
</form>