<title>Sugarcane - Create User</title>

<h1 class="box-title">Create New User</h1>
<form onsubmit="return validate(this);" action="/app/newUser" method="post">
    <input class="box-input" type="text" name="username" placeholder="Username">
    <input class="box-input" type="password" name="password" placeholder="Password">
    <input class="box-button" type="submit" value="Create">
</form>

<script src="/js/confirmSubmit.js"></script>