<title>Sugarcane - Server Config</title>
<h1>Server Config</h1>
<form action="/server/updateconfig" name="configForm" id="configForm" method="post">
    <textarea data-gramm_editor="false" class="text-area" name="config" id="config" form="configForm" value="{{currentConfig}}" >{{currentConfig}}</textarea>
    <input class="text-area-submit" type="submit" value="Update Config">
</form>