<title>Sugarcane - Users</title>
<h1>Users</h1>
<input class="text-area-submit" type="button" value="Add New User" id="newUsrBtn">
<table id="userTabel" class="table">
    <tr>
        <th>Username</th>
        <th>Actions</th>
    </tr>
</table>
<script src="/js/users.js"></script>